This will be a form where only Admins will change the status of the order. The form will be pre-populated with the current status of the order. The form will be submitted to the update_status_order view. {% extends 'base.html' %} {% block main %}
{{ form.hidden_tag() }}
{{ update.code.label }}
{{ update.code(size=40) }}

{{ update.description.label }}
{{ update.description(size=30) }}

{{ update.type.label }}
{{ update.type(size=30) }}

{{ update.available.label }}
{{ update.available(size=20) }}

{{ update.price.label }}
{{ update.price(size=10) }}

{{ update.submit() }}

{% endblock %}
