{% extends 'base.html' %}
{% block main %}
    <!-- TODO #1a: show the name of the user -->
    <p>Select the Items for the Order</p> <!-- The purpose of this line is to show the user's name and the current list of orders -->
    <table>
        <tr>
            <th>Product</th>
            <th>Specs</th>
            <th>Quantity</th>
        </tr>
        <!-- TODO #1b: show the user's orders in the table -->
        {% for products in form.products%}
            {% if loop.index % 2 == 0 %}
                <tr class="even_row">
            {% else %}
                <tr class="odd_row">
            {% endif %}
                    <td>{{ products.product_code.label }}</td>
                    <td>{{ products.specs }}</td>
                    <td>{{ products.quantity }}</td>
                </tr>
        {% endfor %}
    </table>
    <p />
    <button type="submit" class="button" onclick="simple_action('{{ url_for('orders') }}')">Confirm</button>
</div>
<script type="text/javascript">
    function simple_action(target) {
        window.location = target;
    }

    function confirmed_action(target) {
        if (confirm('Are you sure?')) {
            window.location = target;
        }
    }
</script>
{% endblock %}

