{% extends 'base.html' %}
{% block main %}
        <table>
            <tr>
                <th>#</th>
                <th>Title</th>
                <th>Client Name</th>
                <th>Phone Number</th>
                <th>Due Date</th>
            </tr>
            <!-- TODO #1: using a for loop, render invoice information using parameter "invoices" -->
            {% for invoice in invoices %}
                   {% if loop.index % 2 == 0 %}
                        <tr class="even_row">
                    {% else %}
                        <tr class="odd_row">
                    {% endif %}
                    <td>{{ invoice.number }}</td>
                    <td>{{ invoice.title }}</td>
                    <td>{{ invoice.client_name }}</td>
                    <td>{{ invoice.phone_number }}</td>
                    <td>{{ invoice.due_date }}</td>
                </tr>
                {% endfor %}
        </table>
        <br />
        <button type="button" class="create_button" onclick=simple_action("{{ url_for('create_invoice') }}")>Create</button>
        <script type="text/javascript">
            function simple_action(target) {
                window.location = target
            }

            function confirmed_action(target) {
                if (confirm('Are you sure?')) {
                    window.location = target
                }
            }
        </script>
{% endblock %}